/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

/* Attributes */

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}

/* Nav Bar */

.nav-bar {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all 0.5s;
}
.nav a:hover {
  color: blue;
}

/* Main */

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #222;
  background: #f7f5f0;
}

.main-container {
  min-height: 100vh;
}

.profile-container {
  min-height: 20vh;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}

#profile-text {
  margin-top: 1%;
}

#profile-pic {
  margin-top: 50px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all 0.5s;
  width: 160px;
  height: 160px;
}

#profile-pic:hover {
  transform: scale(1.2) rotate(5deg);
}

#profile-text p {
  margin-top: 1%;
}

.web-pages-container {
  min-height: 20vh;
}

/* Footer */

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: 0.75em;
}

footer ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

footer .social {
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 0.5;
  transition: all 0.25s;
}

footer .social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Larger Screens*/

footer {
  font-size: 1.3em;
  max-width: 1200px;
  margin: 40px auto;
}
